.headerApp {
    display: flex;
    justify-content: space-between;
    padding: 32px 24px;
    position: sticky;
}

.headerApp .back span {
    font-size: 18px;
    font-weight: bold;
}

.headerApp .divSignup a {
    border: 2px solid #ddd;
    padding: 8px 18px;
    transition: all 1s;
}

.headerApp .divSignup a:hover{ 
    cursor: pointer;
    border-color: #42A5FA;
}